.App {
    text-align: center;
}

.App-logo {
    height: 30vmin;
    pointer-events: none;
}

.App-header {
    background-color: #231c2e;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

/* adds some effects on the link hover */
.App-link:hover {
    color: #61dafb;
    text-shadow: 4px 4px rgb(166, 34, 135);
    font-weight: 800;
    text-decoration: none;
}

#price-id {
    font-size: 140%;
}

#price-feed {
    margin: 10px auto;
}